#parent-flash-sale {
  display: flex;
  flex-direction: column;
}
#flash-sale1 {
  display: flex;
  flex-direction: row;
}

.unorder-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.unorder-list-sm {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.flash-box {
  text-decoration: none !important;
}
